/* src/components/spinner.css */

.spinner-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 5px solid #eee;
  border-top-color: #063970;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
